 @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <link href="content/bootstrap.min.css" rel="stylesheet">
    <link href="~/CSS/slideshow.css" rel="stylesheet" />

</head>
<body style="background-color:orange">
    </body>

<hr>
@using (Html.BeginForm("UploadImage", "Admin", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    <table cellpadding="2" cellspacing="2">
        <tr>
            <td>Image</td>
            <td><input type="file" name="photo" multiple></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="upload" ></td>
        </tr>
    </table>
}

<div class="slideshow-container">
 @foreach (var item in ViewBag.files)
       {
     <div class="mySlides fade">

               <img src="@Html.DisplayFor(modelItem => item)" width="100%"/>
         </div>
     
 }
</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
<script>

    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }

</script>
