@{
    ViewBag.Title = "MembershipReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body style="background-color:orange">
    </body>
<fieldset style="width:50%">
    <table width="100%" cellpadding="0" cellspacing="0" style="background-color:rgba(0,0,0,0.5);text-align:center;color:white;border-style:inset">
        <tr>
            <td>
                <b>Membership | STATISTICS</b>
            </td>
            <td align="right">
                <input type="submit" value="Print" style="color:orangered"/>
            </td>
        </tr>
    </table>

<table width="100%" cellspacing="5" border="1" cellpadding="5" style="background-color:orange;color:white">
     <tr style="background-color:rgba(0,0,0,0.5)">
        <th align="left">Catagory</th>
        <th align="center" width="110">NO OF USERS</th>
    </tr>
    
     <tr style="background-color:rgba(0,0,0,0.5)">
        <th align="left">Platinum</th>
        <th align="center" width="110">10</th>
    </tr>

     <tr style="background-color:rgba(0,0,0,0.5)">
        <th align="left">Gold</th>
        <th align="center" width="110">13</th>
    </tr>
	
     <tr style="background-color:rgba(0,0,0,0.5)">
        <th align="left">Silver</th>
        <th align="center" width="110">17</th>
    </tr>

     <tr style="background-color:rgba(0,0,0,0.5)">
        <th align="left">Bronze</th>
        <th align="center" width="110">27</th>
    </tr>
	
     <tr style="background-color:rgba(0,0,0,0.5)">
        <th align="left">Senior</th>
        <th align="center" width="110">47</th>
    </tr>
	
     <tr style="background-color:rgba(0,0,0,0.5)">
        <th align="left">Junior</th>
        <th align="center" width="110">63</th>
    </tr>
	
     <tr style="background-color:rgba(0,0,0,0.5)">
        <th align="left">Newbie</th>
        <th align="center" width="110">80</th>
    </tr>
	
     <tr style="background-color:rgba(0,0,0,0.5)">
        <td align="right"><b>Total</b></td>
        <td align="center"><b> 257</b></td>        
    </tr>
</table>
    </fieldset>

