@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

<table border="1" width="60%" cellpadding="10px" style="border-collapse: collapse;float: left;">
    <tr>
    <td width="200px" align="center" colspan="7">
        <a href='@Url.Action("Index", "Public")'>
            <img width="100px" src="../image/restaurants/takeout.jpg">
        </a>
        <h1><b>New Restaurant</b></h1>
    </td>
    </tr>
    <tr>
        <th>
            Item#
        </th>
        <th>
            Item Name
        </th>
        <th>
            Item Desc.
        </th>
        <th>
            Size
        </th>
        <th>
            Catagory
        </th>
        <th>
            Price
        </th>
        <th>
            Action
        </th>
    </tr>
        <tr>
        <th>
            1
        </th>
        <th>
            Chicken Cheese Burger
        </th>
        <th>
            Single patty chicken burger with cheese.
        </th>
        <th>
            N/A
        </th>
        <th>
            Burger
        </th>
        <th>
            220
        </th>
        <th>
            Remove / Edit
        </th>
    </tr>
        <tr>
        <th>
            2
        </th>
        <th>
            Chicken Pan Pizza
        </th>
        <th>
            Pizza with mushroom,chicken,olives and thin pan dough.
        </th>
        <th>
            6"
        </th>
        <th>
            Pizza
        </th>
        <th>
            650
        </th>
        <th>
            Add / Remove / Edit
        </th>
    </tr>
    </tr>
        <tr>
        <th>
            2
        </th>
        <th>
            Chicken Pan Pizza
        </th>
        <th>
            Pizza with mushroom,chicken,olives and thin pan dough.
        </th>
        <th>
            9"
        </th>
        <th>
            Pizza
        </th>
        <th>
            950
        </th>
        <th>
            Add / Remove / Edit
        </th>
    </tr>
</table>